

:root {
  --accent: #4747FF;
  --accent-dark: #0E0E9C;
  --foreground: #000000;
  --surface: #F4F4FF;
  --surface-raised: #DCDCDC;
}


.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

h1 {
  text-align: center;
  background-color: var(--accent);
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0.2rem 0;
}

.addform {
  background-color: var(--accent-dark);
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addform form {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

h3 {
  margin-right: 1rem;
  font-size: 1rem;
}

button,
select,
input {
  background-color: var(--surface);
  color: var(--foreground);
  border: none;
  border-radius: 1rem;
  padding: 0.2rem 0.8rem;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.addform > button {
  text-transform: uppercase;
  background-color: var(--foreground);
  color: var(--surface);
  border: 1px solid var(--surface);
}

.list {
  background-color: var(--surface-raised);
  color: var(--foreground);
  padding: 2rem 2rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.actions {
  width: 100%;
  background: var(--accent);
}

.actions button,
.list select {
  background: var(--accent-dark);
  color: var(--surface);
  padding: 0.2rem 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.list ul {
  list-style: none;
  width: 100%;
  scrollbar-width: none;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.4rem;
  justify-content: center;
  align-content: start;
}

.list li {
  background: var(--foreground);
  color: var(--surface);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
  padding: 0.4rem 0.4rem;
  border-radius: 2rem;
}

input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  accent-color: var(--accent);
}

.list li button {
  background: var(--accent);
  cursor: pointer;
  border: none;
  padding: 0.1rem 0.1rem;
}

.list li .quantity {
  background: var(--surface);
  color: var(--foreground);
  border-radius: 16px;
  padding: 0rem 0.8rem;
}

.stats {
  background-color: var(--accent-dark);
  text-align: center;
  font-weight: 400;
  padding: 2rem 0;
}
.stats span {
  background: var(--accent);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.6rem;
  text-align: center;
  border-radius: 16px;
}