@import "tailwindcss";
@font-face {
  font-family: "GeneralSans";
  src: url("./assets/fonts/GeneralSans-Variable.woff2");
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background: #000000;
  color: #FFFFFF;
  font-family: "GeneralSans", sans-serif;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
